{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="navbar primary navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            {# This is used in mobile view #}
            <a class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".primary-collapse">
                <span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </a>
        </div>

        <a class="btn btn-default navbar-btn btn-cart navbar-right visible-xs-inline-block" href="{% url 'basket:summary' %}">
            <i class="icon-shopping-cart"></i>
            {% trans "Basket" %}
            {% if not request.basket.is_empty %}
                {% if request.basket.is_tax_known %}
                    {% blocktrans with total=request.basket.total_incl_tax|currency:"€" %}
                        Total: {{ total }}
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans with total=request.basket.total_excl_tax|currency:"€" %}
                        Total: {{ total }}
                    {% endblocktrans %}
                {% endif %}
            {% endif %}
        </a>





            <div class="menu">
	        <ul class="megamenu skyblue">
			    <li><a class="color2" href="{% url 'catalogue:index' %}">Jus de dégustation</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Jus</h4>
								<ul>
									<li><a href="{{ tree_category.get_absolute_url }}">30cl</a></li>
									<li><a href="{{ tree_category.get_absolute_url }}">100cl</a></li>

								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Nectar</h4>
								<ul>
									<li><a href="{{ tree_category.get_absolute_url }}">30cl</a></li>
									<li><a href="{{ tree_category.get_absolute_url }}">100cl</a></li>

								</ul>
							</div>
						</div>

					  </div>
					</div>
			</li>

				<li><a class="color10" href="#page">Journal</a></li>
				<li class="active grid"><a class="color3" href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
				<li><a class="color7" href="#page">Boutique</a></li>
				<div class="clearfix"> </div>
			</ul>
			</div>





            {% include "partials/search.html" %}
        </div><!-- /navbar-collapse -->
    </div>
</div><!-- /navbar -->
